#root {
  max-width: 1280px;
  margin: 0 auto;
  
  padding: 2rem;
}
body {
  background-color: black;
  color: #b5b5b5;
  margin: 0;
  padding: 0;
  background: rgb(2,6,10);
  background: -moz-linear-gradient(90deg, rgba(2,6,10,1) 0%, rgba(28,42,64,1) 35%);
  background: -webkit-linear-gradient(90deg, rgba(2,6,10,1) 0%, rgba(28,42,64,1) 35%);
  background: linear-gradient(90deg, rgba(2,6,10,1) 0%, rgba(28,42,64,1) 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#02060a",endColorstr="#1c2a40",GradientType=1); 
}
.space-mono {
  font-family: Inter , "Space Mono", serif;
  font-weight: 300;
  font-style: initial;
  font-size: 3rem;
  background: #5A86F2;
  background: linear-gradient(to right, #537adc 0%, #a3d4ed 45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}